{
    "extends": [
        "prettier",
        "plugin:import/errors"
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "import/no-named-as-default": "off",
        "import/prefer-default-export": "off",
        "prettier/prettier": "error",
        "arrow-body-style": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "no-param-reassign": "off",
        "no-underscore-dangle": "off",
        "import/named": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".ts",
                    ".tsx",
                    ".js",
                    ".jsx",
                    ".mjs"
                ],
                "paths": [
                    "./",
                    "src"
                ]
            }
        }
    }
}
